
<div class="hexgrid-container"
  data-controller="map"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-coordinates-value="<%= @coordinates.to_json %>"
  data-map-filters-vale="<%= @filters.to_json %>"


  data-map-gyms-value="<%= @gyms.to_json %>"
  data-map-pubs-value="<%= @pubs.to_json %>"
  data-map-stations-value="<%= @stations.to_json %>">
  <div class="hexgrid-filters-container">
    <h2>Filters</h2>
    <p><em>Select the categories that matter to you. <br> Any hexagons highlighted in green will match your search!</em></p>
    <div class="map-filter-options">
      <% @filters.keys.each do |category| %>
        <label>
          <input type="checkbox" data-action="change->map#toggleFilter" data-map-filter-value="<%= category %>">
          <%= category.capitalize %>
        </label>
      <% end %>

      <br>
      <p><%= 'Old Filters' %></p>
      <label><input type="checkbox" data-action="change->map#toggleFilter" data-map-filter-value="pubs">Pub</label>
      <label><input type="checkbox" data-action="change->map#toggleFilter" data-map-filter-value="stations">Station</label>
    </div>
  </div>
  <div class="hexgrid-map-container">
    <div
      style="width: 100%; height: 100%;"
      data-map-target="map">
    </div>
  </div>
  <div class="hexgrid-key-container">
    <h2>Key</h2>
  </div>
</div>
