<% @hives.each do |hive| %>
<div class="card-product">
  <%= image_tag("product_card_img.png") %>
  <div class="card-product-infos">
    <h2><%= hive.name %></h2>
    <p><%= hive.notes %></p>
    <div class="buttons-container">
      <div class="details-edit-buttons">
        <%= link_to 'Details', hive_path(hive), class: "btn btn-primary card-product-button" %>
          <%= link_to 'Edit', edit_hive_path(hive), class: "btn btn-primary card-product-button" %>
      </div>
      <%= link_to hive_path(hive), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fa-solid fa-trash booking-icon"></i>
      <% end %>
    </div>
  </div>
</div>
<% end %>
