<% hive_counter = 1 %>
<% @hives.each do |hive| %>
  <%= link_to hive_path(hive), class: "hive-card-link" do %>
    <div class="hive-card">
      <div class="hive-card-image-container">
        <%= image_tag "hexagon_dark_green.png", class: "hive-card-image" %>
        <span class="hive-number"><%= hive_counter %></span>
      </div>
      <div class="hive-card-info">
        <div class="hive-card-info-text">
          <h2><%= hive.name %></h2>
          <p><%= hive.notes %></p>
        </div>
        <div class="hive-card-info-buttons">
          <%= link_to edit_hive_path(hive) do %>
            <i class="fa-solid fa-pencil booking-icon"></i>
          <% end %>
          <%= link_to hive_path(hive), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash booking-icon"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% hive_counter += 1 %>
<% end %>
