<% hive_counter = 1 %>
<% @hives.each do |hive| %>
  <%= link_to hive_path(hive), class: "hive-card-link" do %>
    <div class="hive-card">
      <div class="hive-card-image-container">
        <%= image_tag "hexagon_dark_green.png", class: "hive-card-image" %>
        <span class="hive-number"><%= hive_counter %></span>
      </div>
      <div class="hive-card-info">
        <div class="hive-card-info-text">
          <h2><%= hive.name %></h2>
          <p class="truncate-text-lines"><%= hive.notes %></p>
        </div>
      </div>
    </div>
  <% end %>
  <% hive_counter += 1 %>
<% end %>
