<div class="navbar navbar-expand-sm navbar-light navbar-hexplore sticky-top">
  <div class="container-fluid">
    <h1>
      <%= link_to image_tag("logo.png", alt: "Hexplore", class: "navbar-logo"), root_path, class: "navbar-brand" %>
    </h1>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "My Hives", hives_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <% initials = "#{current_user.first_name.first}#{current_user.last_name.first}".upcase %>
            <div class="avatar dropdown-toggle initials-avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= initials %>
            </div>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
