<div class="users-card">
  <div class="users-card-body">
     <div class="hexagon-cards-container">
        <div class="hexagon">
          <p class = "hexagon-text"><%= current_user.first_name[0] %><%= current_user.last_name[0] %></p>
        </div>
      </div>
    <div class="users-card-content">
      <div class="users-card-info">
        <h5><%= current_user.first_name %> <%= current_user.last_name  %></h5>
        <h6><%= current_user.email %></h6>
        <p><%= "Member since #{current_user.created_at.strftime('%B %Y')}" %></p>
      </div>
      <div>
        <%= link_to edit_user_registration_path do %>
          <i class="fa-solid fa-pencil edit-profile-icon"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
