<div class="map-container"
  data-controller="map"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-coordinates-value="<%= @coordinates.to_json %>"
  data-map-filters-value="<%= @filters.to_json %>"
  data-map-hexagonId-value="<%= @hexagon.to_json %>">
  <div class="map-info-container">
    <div class="map-steps">
      <h2>How it works</h2>
      <div class="map-step"><%= image_tag "hexagon_1.png", class: "hexagon-steps" %><p>Select the location categories that matter most to you</p></div>
      <div class="map-step"><%= image_tag "hexagon_2.png", class: "hexagon-steps" %><p>Watch our map dynamically adapt to reveal the areas that best match your needs</p></div>
      <div class="map-step"><%= image_tag "hexagon_3.png", class: "hexagon-steps" %><p>Click on a hive to learn more about it and save it to your hives!</p></div>
      <p><em>It's easy as 1, 2, 3!</em></p>
    </div>

    <div class="map-filter-options">
      <h2>Categories</h2>
      <% @filters.keys.each do |category| %>
        <label>
          <input type="checkbox" data-action="change->map#toggleFilter" data-map-filter-value="<%= category %>">
          <%= category.capitalize %>
        </label>
      <% end %>
    </div>

    <div class="map-key-container">
      <h2>Key</h2>
      <div class="map-key-distance">
        <%= image_tag "hexagon_black.png", class: "key-hexagon" %>
        <p>5 mins</p>
        <i class="fa-solid fa-person-walking"></i>
        <p>    ||    1 min</p>
        <i class="fa-solid fa-bicycle"></i>
      </div>
      <div class="map-key-item"><%= image_tag "hexagon_dark_green.png", class: "key-hexagon" %><p><em>Hive meets all your categories</em></p></div>
      <div class="map-key-item"><%= image_tag "hexagon_grey.png", class: "key-hexagon" %><p><em>Hive does not meet all your categories</em></p></div>
      <%# <div class="map-key-item"><img src="/hexagon.png" alt=""><p>Hive meets some of your categories</p></div> %>
      <%# <div class="map-key-item"><img src="/hexagon.png" alt=""><p>Hive meets none of your categories</p></div> %>
    </div>
  </div>

  <div class="map-hexgrid-container">
    <div
      style="width: 100%; height: 100%;"
      data-map-target="map">
    </div>
  </div>
</div>
