<div class="hexagon-container">
  <div class="hexagon-content-container">
    <div class="hexagon-title-container">
      <div class="hexagon-title-text">
        <h1>Hexagon</h1>
      </div>
      <div class="hexagon-title-button">
        <%= link_to "Add to Hive", new_hexagon_hive_path(@hexagon), class: "btn btn-primary add-button" %>
      </div>
    </div>
    <div class="hexagon-shape">
      <div
        class="hexagon-map"
        style="width: 600px; height: 600px"
        data-controller="hexagonMap"
        data-hexagonMap-markers-value="<%= @markers.to_json %>"
        data-hexagonMap-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

      <h2>Matched Locations</h2>
    <div class="hexagon-content-cards">
        <%= render "shared/hexagon_cards" %>
    </div>
  </div>

  <div class = "hexagon-chatbot-container">
    <div class="container chatbot" style="width: 100%; height: 400px;">
      <h4>Chat with Hex</h4>

      <div data-controller="auto-submit">
      <%= form_with url: itineraries_path, method: :post, data: { auto_submit_target: "form" }, style: "display: none;" do %>
          <%= hidden_field_tag 'itinerary[hexagon_id]', @hexagon.id %>
          <%= submit_tag "Generate Itinerary",  style: "display: none;" %>
        <% end %>
      </div>
      <div id="itineraries">
        <%= render "itineraries/itinerary", itinerary: @itinerary %>
      </div>
      <div id="questions">
        <%= render "questions/question", question: @question %>
      </div>
      <%= render "questions/form", question: @question %>
    </div>
  </div>
</div>
