<div class="hexagon-container">
  <div class="hexagon-content-container">
    <div class="hexagon-title-container">
      <div class="hexagon-title-text">
        <h1>Your selected Hexagon</h1>
      </div>
      <div class="hexagon-title-button">
        <%= link_to 'Save', new_hexagon_hive_path(@hexagon), class: "btn btn-primary" %>
      </div>
    </div>

      <div class="hexagon-content-cards">
        <h2>Matched Locations</h2>
          <%= render "shared/hexagon_cards" %>
      </div>

  </div>

  <div class="hexagon-map-container">
    <div style="width: 100%; height: 400px;"
      data-controller="hexagonMap"
      data-hexagonMap-markers-value="<%= @markers.to_json %>"
      data-hexagonMap-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="chatbot-container" data-controller="chatbot">
    <button id="chat-toggle" class="chat-toggle" data-action="click->chatbot#toggle">
      💬
    </button>
    <div class="chatbot hidden" data-chatbot-target="chatbot">
      <h1>Chat with us</h1>
      <div id="questions">
        <%= render "shared/question", question: @question %>
      </div>
      <%= render "shared/form", question: @question %>
    </div>
  </div>


</div>
