<div class="hexagon-hive-container">
  <div class="hexagon-hive-content-container">
    <div class="hexagon-hive-title-container">
      <div class="hexagon-hive-title-buttons" data-controller="hexagon-modal">
        <%= link_to map_path(address: @myparam[:address], filters: @clickedFilters[:poi_params]) do %>
          <i class="fa-solid fa-arrow-left hexagon-hive-title-button back-button"></i>
        <% end %>
        <h3 class="back-button-title">Back to Map</h3>
      </div>
      <div class="hexagon-hive-title-buttons" data-controller="hexagon-modal">
        <i class="fa-solid fa-plus hexagon-hive-title-button add-button"
          data-bs-toggle="modal"
          data-bs-target="#hexagonShowModal"
          data-hexagon-modal-target="modalButton"
          data-action="click->hexagon-modal#expandModal"></i>
        <div class="rendered-modal" data-hexagon-modal-target="modalPartial">
          <%= render 'shared/hexagon_add_modal' %>
        </div>
      </div>
    </div>

    <div class="hexagon-hive-non-title-container">
      <div class="hexagon-hive-map-container">
        <div class="hexagon-shape">
          <div
            class="hexagon-hive-map"
            style="width: 600px; height: 600px"
            data-controller="hexagon-hive-show-map"
            data-hexagon-hive-show-map-markers-value="<%= @markers.to_json %>"
            data-hexagon-hive-show-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>

      <div class="matched-locations" data-controller="toggle-locations">
        <div class="matched-locations-header">
          <h4>Recommended Matched Locations</h4>
          <button id="toggle-locations-button" data-action="click->toggle-locations#toggle">
            <i class="fa-solid fa-plus" data-toggle-locations-target="icon"></i>
          </button>
        </div>
        <div class="hexagon-hive-content-cards" data-toggle-locations-target="body">
          <%= render "shared/hexagon_hive_location_cards" %>
        </div>
      </div>

      <div class="matched-locations" data-controller="toggle-locations" data-controller="auto-submit">
        <div class="matched-locations-header">
          <h4>Generate a Local Itinerary</h4>
          <%= form_with model: @itinerary, method: :post, data: { controller: "itinerary-button" } do %>
            <%= hidden_field_tag 'itinerary[hexagon_id]', @hexagon.id %>
            <%= button_tag type: 'submit', class:"spinner", data: { action: "click->itinerary-button#disableButton" } do %>
              <i class="fa-solid fa-spinner"></i>
            <% end %>
          <% end %>
        </div>

        <div id="itineraries">
          <%= render "itineraries/itinerary", itinerary: @itinerary %>
        </div>
      </div>
    </div>
  </div>

  <div class = "hexagon-hive-chatbot-container">
    <div class="container chatbot" style="width: 100%; height: 400px;">
      <h4>Hi, Hex 👋</h4>
      <p>An AI assistant to help you find your hive!</p>
      <div id="questions">
        <%= render "questions/question", question: @question %>
      </div>
      <%= render "questions/form", question: @question %>
    </div>
  </div>
</div>
