<div class="hexagon-hive-container">
  <div class="hexagon-hive-content-container">
    <div class="hexagon-hive-title-container">
      <div class="hexagon-hive-title-back-button">
        <%= link_to "Back", map_path, class: "btn btn-primary btn-hexagon back-button" %>
      </div>
      <div class="hexagon-hive-title-add-button">
        <%= link_to "Add to Hive", new_hexagon_hive_path(@hexagon, poi_params: @poi), class: "btn btn-primary btn-hexagon" %>
      </div>
    </div>
    <div class="hexagon-hive-non-title-container">
      <div class="hexagon-hive-map-container">
        <div class="hexagon-shape">
          <div
            class="hexagon-hive-map"
            style="width: 600px; height: 600px"
            data-controller="hexagonMap"
            data-hexagonMap-markers-value="<%= @markers.to_json %>"
            data-hexagonMap-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
      <div class="matched-locations">
        <h4>Your Matched Locations</h4>
        <div class="hexagon-hive-content-cards">
          <%= render "shared/hexagon_hive_location_cards" %>
        </div>
      </div>
    </div>
  </div>

  <div class = "hexagon-hive-chatbot-container">
    <div class="container chatbot" style="width: 100%; height: 400px;">
    <h4>Hex, your AI Assistant</h4>
      <div id="questions">
        <%= render "questions/question", question: @question %>
      </div>
      <%= render "questions/form", question: @question %>
    </div>
  </div>
</div>
