<div class="hexagon-container">
  <div class="hexagon-content-container">
    <div class="hexagon-title-container">
      <div class="hexagon-title-text">
        <h1>Hexagon</h1>
      </div>
      <div class="hexagon-title-button">
        <%= link_to "Add to Hive", new_hexagon_hive_path(@hexagon), class: "btn btn-primary add-button" %>
      </div>
    </div>
    <div class="hexagon-map-container">
      <div
        class="hexagon-map"
        style="width: 500px; height: 500px"
        data-controller="hexagonMap"
        data-hexagonMap-markers-value="<%= @markers.to_json %>"
        data-hexagonMap-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <div class="hexagon-content-cards">
      <h2>Matched Locations</h2>
        <%= render "shared/hexagon_cards" %>
    </div>
  </div>

  <div class = "hexagon-chatbot-container">
    <div class="container chatbot" style="width: 100%; height: 400px;">
      <h4>Chat with Hex</h4>
      <div id="questions">
        <%= render "questions/question", question: @question %>
      </div>
      <%= render "questions/form", question: @question %>
    </div>
  </div>
</div>
