<div class="page-body">
  <div class="form-container">
    <h1>Add Hexagon</h1>

    <%= simple_form_for [@hexagon, @hive] do |f| %>
      <div class="form-inputs">
        <%= f.input :name,
                    placeholder: "Name" %>
        <%= f.input :notes,
                    placeholder: "Notes" %>

        <% @poi.map().each do |poi_element| %>
          <%= f.hidden_field :pois, poi_element %>

          <%= f.hidden_field :pois, value: params[:poi_params] %>



        <% end %>
      </div>
      <div class="form-actions">
        <%= f.submit "Add", class: "btn btn-primary form-button" %>
      </div>
    <% end %>
  </div>
</div>
